NET "o_LED[0]" LOC = P42;
NET "o_LED[1]" LOC = P43;
NET "o_LED[2]" LOC = P44;
NET "o_LED[3]" LOC = P45;
#NET "LED[4]" LOC = P46;
#NET "LED[5]" LOC = P48;
#NET "LED[6]" LOC = P50;
#NET "LED[7]" LOC = P51;
#NET "LED[8]" LOC = P61;
#NET "LED[9]" LOC = P62;
#NET "LED[10]" LOC = P63;
#NET "LED[11]" LOC = P64;
#NET "LED[12]" LOC = P65;
#NET "LED[13]" LOC = P67;
#NET "LED[14]" LOC = P68;
#NET "LED[15]" LOC = P71;
